<p>Dear <%= @contact.name %>,</p>
<p>Thank you for contacting us. We have received your query and we will respond as quickly as possible.</p>

<br/>

<p>Regards,</p>
<p><%= ENV['WEBSITE_NAME'] %> team,</p>
<p>SLIME lab (NTU, Singapore)</p>