<div class="row">
	<div class="col-12">
		<%= link_to rails_blob_path(fasta.attachment, disposition: 'attachment'), class: 'btn btn-sm btn-primary float-right' do %>
			<i class="fa fa-download"></i>&nbsp; Download
		<% end %>
	</div>
</div>
<div class="row mt-2">
	<div class="col-12">
<pre style="max-height: 100em">
<%= fasta.sequence %>
</pre>
	</div>
</div>
