<p>Dear <%= @resource.email %>,</p>

<p>Someone recently requested a password change for your <%= ENV['WEBSITE_NAME'] %> account. If this was you, you can reset your password here:</p>
<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<br/>

<p>If you do not want to change your password or did not request this, kindly ignore and delete this message.</p>

<br/>

<p>Regards,</p>
<p><%= ENV['WEBSITE_NAME'] %> team,</p>
<p>SLIME lab (NTU, Singapore)</p>

